<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Tiendita de Libros</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a la Tiendita de Libros</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="/cart">Carrito</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>
