<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Tiendita de Libros</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body data-cart-id="{{cartId}}">
    <header>
        <h1>Bienvenido a la Tiendita de Libros</h1>
        <nav>
            <a href="/">Productos</a>
            <a href="/cart">Carrito</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>

</html>